.is-hidden {
    display: none;
}
.slick-dots {
    bottom: 25px;
}

.slick-dots li button {
    content: "";
    position: relative;
    display: inline-block;
    height: 11px;
    width: 11px;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}

li.slick-active button{
    content: "";
    position: relative;
    display: inline-block;
    height: 11px;
    width: 11px;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: $white;

}
.slick-dots li.slick-active button:before {
    content: "";
    position: absolute;
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 50%;
    height: 23px;
    width: 23px;
    top: -6px;
    left: -6px;
}