$colors: (
    grey: $grey,
    blue: $blue,
    green: $green,
    red: $red,
    violet: $violet,
    pink: $pink,
    orange: $orange
);

$themes: (
    "software": $grey,
    "it": $blue,
    "marketing": $green,
    "telecoms": $red,
    "design": $violet,
    "security": $pink,
    "training": $orange
)