@mixin e($element) {
	&__#{$element} {
		@content;
	}
}

@mixin m($modifier) {
	&--#{$modifier} {
		@content;
	}
}

@mixin pseudo-els($top, $left, $content:"") {
	position: absolute;	
	font-family: 'icomoon';
	content: $content;
	@content;
	top: $top;
	left: $left;
	line-height: 0;
}

//mixin to create modifiers for different background colors
@mixin theming($map) {
	@each $key, $value in $map {
		&--#{$key} {
			background-color: $value;
		}
	}
}

@mixin theming-hover($map) {
	@each $key, $value in $map {
		&--#{$key}:hover {
			background-color: $value;
		}
	}
}

@mixin icons($map) {
	@each $key, $value in $map {
		&--#{$key}::before {
			content: $value;
		}
	}
}
@mixin font-color($map) {
	@each $key, $value in $map {
		&--#{$key}::before {
			color: $value;
		}
	}
}

@mixin theming-color($map) {
	@each $key, $value in $map {
		&--#{$key} {
			color: $value;
		}
	}
}		

@mixin universal($what, $map) {
	@each $key, $value in $map {
		&--#{$key} {
			#{$what}: $value;
		}
	}
}
@mixin universal-hover($what, $map) {
	@each $key, $value in $map {
		&--#{$key}:hover::after {
			#{$what}: $value;
		}
	}
}