@mixin e($element) {
	&__#{$element} {
		@content;
	}
}

@mixin m($modifier) {
	&_#{$modifier} {
		@content;
	}
}

@mixin pseudo-els($top, $left, $content:"") {
	position: absolute;	
	content: $content;
	@content;
	top: $top;
	left: $left;
}

//mixin to create modifiers for different background colors
@mixin theming($map) {
	@each $key, $value in $map {
		&--#{$key} {
			background-color: $value;
		}
	}
}

@mixin icons($map) {
	@each $key, $value in $map {
		&--#{$key}::before {
			content: $value;
		}
	}
}

		