%img-fluid {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  %btn-style-big {
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    font-size: rem(18px);
    letter-spacing: 0.4px;
    line-height: rem(35px);
    color: $white;
    border: none;
    border-radius: 3px;
    padding: 11px 65px 11px 35px;
    position: relative;
  }

  %btn-style-small {
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: rem(17px);
    letter-spacing: 0.4px;
    line-height: 35px !important;
    color: $white;
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 5px 15px !important;
  }

%sec-header {
  color: $serviceCol;
  font-weight: 600;
  font-size: rem(43px);
  letter-spacing: 0.4px;
  line-height: rem(47.5px);
  margin-bottom: 10px;
}

%view-all {
  color: $serviceCol;
  font-size: rem(26px);
  line-height: 1.1;
  font-weight: 600;
  text-transform: capitalize;
}

%articles-box {
  border: 1px solid $servicesBrd;
  box-shadow: 0 3px 35px rgba(0,0,0,.1);
}