%img-fluid {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  %btn-style-big {
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    font-size: rem(18px);
    letter-spacing: 0.4px;
    color: $white;
    border: none;
    border-radius: 3px;
    padding: 5px 45px 5px 15px;
    position: relative;
  }

  %btn-style-small {
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: rem(17px);
    letter-spacing: 0.4px;
    line-height: 35px;
    color: $white;
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 5px 15px;
  }

%sec-header {
  color: $serviceClr;
  font-weight: 600;
  font-size: rem(43px);
  letter-spacing: 0.4px;
  line-height: rem(47.5px);
  margin-bottom: 10px;
}

%view-all {
  color: $serviceClr;
  font-size: rem(26px);
  line-height: 1.1;
  font-weight: 600;
  text-transform: capitalize;
}