// Paths
$imgFilesPath: "../img";
$fontsPath: "../fonts/";

// Colors
$white: white;
$black: black;
$serviceClr: #333645;

//colors for themes
$grey: #999aa2;
$blue: #4183d7;
$green: #2ecc71;
$red: #D64541;
$violet: #926fb1;
$pink: #f62459;
$orange: #ce4125;



//Fonts
$google-font: "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600&display=swap";
@if variable_exists(google-font) {
    @import url($google-font);
  }
$mainFont: 'Poppins', sans-serif;
$baseFontSize: 16px;

