// Paths
$imgFilesPath: "../img";
$fontsPath: "../fonts/";

// Colors
$white: white;
$black: black;
$stars: #ffa500;
$serviceCol: #333645;
$servicesBrd: #ccc;
$darkBtn: #272936;
$quote-cite: #a3a8ac;
$required: #d24d57;
$greyish: #555;
$form-bgrnd: #999aa2;

//colors for themes
$grey: #67809f;
$blue: #4183d7;
$green: #2ecc71;
$red: #D64541;
$violet: #926fb1;
$pink: #f62459;
$orange: #ce4125;

//colors for services menu hover
$greyish: #526781;
$blueish: #286abd;
$greenish: #25a25a;
$redish: #bc2c28;
$violetish: #79539a;
$pinkish: #de093f;
$orangish: #a3331d;


//Fonts
$google-font: "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600&display=swap";
@if variable_exists(google-font) {
    @import url($google-font);
  }
$mainFont: 'Poppins', sans-serif;
$baseFontSize: 16px;

