@media all and (min-width: 1260px) {
    .footer {
        @include e(wrapper) {
            max-width: 1170px;
        }
        @include e(copy) {
            flex-basis: 33%;
        }
    }
    .footer-menu {
        flex-wrap: nowrap;
    }
}