@media all and (min-width: 992px){
    .header {
        @include e(button) {
            display: initial;
            flex-grow: 0;
            max-width: 30%;
        }
        @include e(button-support) {
            display: initial;
            margin-left: auto;
            
        }
        @include e(button-contact) {
            display: initial;
            
        }
        }
    .search-form {
            margin-left: 0;
        @include e(field) {
            display: none;
        }
        @include e(submit) {
            border-radius: 3px;
        }
    }
    .upper-header {
        @include e(division) {
            max-width: 940px;
        }
    }
    .logo {
        max-width: 40%;
    }

//Styling the menu of the services
    .bottom-header.is-hidden {
        display: initial;
    }
    .services-nav {
        background-color: $serviceCol;
        position: relative;
    }
    .services-list {
        max-width: 940px;
        margin: auto;
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        @include e(link-heading) {
            display: block;
            &::before {
                @include pseudo-els(-7px, 71px) {
                    font-size: rem(24px);
                    margin-top: -10px;
        
                }
                }
                @include icons($icons);
                @include font-color($themes);
        }
        @include e(under-list) {
            position: absolute;
            top: 99px;
            display: flex;
            @include universal('background-color', $colors-hover);
            width: 100vw;
            left: 0;
            color: $white;
            display: none;

        }
        @include e(header) {
            font-size: rem(32px);
            width: 100%;
        }
        @include e(item) {
            position: relative;
        }
        @include e(link) {
            font-size: rem(19px);
        }
        @include e(submenu) {
            flex: 1;
            font-weight: 400;
            padding: 50px 0 20px;
            color: $white;
            @include m(design) {
                &::before {
                    left: 39%;
                }
            }
            // height: 100px;
        }
        @include e(heading) {
            text-align: center;
            display: block;
            text-transform: uppercase;
            &:first-of-type {
                font-size: rem(10px);
                padding-bottom: 1px;
            }
            &:last-of-type {
                font-size: rem(18px);
            }
        }
    }
    .service-list {
        @include e(item) {
            position: relative;
            width: 30%;
        }
        @include e(link) {
            font-size: rem(19px);
        }
    }

        //styling the icons
.services-list__under-list--software li:nth-of-type(2)::after {
    @include pseudo-els(49%, -30px);
    content: '\f085';
}
.services-list__under-list--software li:nth-of-type(3)::after {
    @include pseudo-els(49%, -30px);
    content: '\e958';
}
.services-list__under-list--software li:nth-of-type(4)::after {
    @include pseudo-els(49%, -30px);
    content: '\e95e';
}
.services-list__under-list--software li:nth-of-type(5)::after {
    @include pseudo-els(49%, -30px);
    content: '\f0c2';
}
.services-list__under-list--software li:nth-of-type(6)::after {
    @include pseudo-els(49%, -30px);
    content: '\f0b1';
}
.services-list__under-list--software li:nth-of-type(7)::after {
    @include pseudo-els(49%, -30px);
    content: '\e909';
}
.services-list__under-list--software li:nth-of-type(8)::after {
    @include pseudo-els(49%, -30px);
    content: '\f0c0';
}
.services-list__under-list--software li:nth-of-type(9)::after {
    @include pseudo-els(49%, -30px);
    content: '\f0ed';
}
.services-list__under-list--software li:nth-of-type(10)::after {
    @include pseudo-els(49%, -30px);
    content: '\e90c';
}
.services-list__under-list--software li:nth-of-type(11)::after {
    @include pseudo-els(49%, -30px);
    content: '\e90d';
}
.services-list__under-list--software li:nth-of-type(12)::after {
    @include pseudo-els(49%, -30px);
    content: '\e912';
}
.services-list__under-list--software li:nth-of-type(13)::after {
    @include pseudo-els(49%, -30px);
    content: '\f0ac';
}
.services-list__submenu--it li:nth-of-type(2)::after {
    @include pseudo-els(49%, -30px);
    content: '\e90b';
}
.services-list__submenu--it li:nth-of-type(3)::after {
    @include pseudo-els(49%, -30px);
    content: '\e906';
}
.services-list__submenu--it li:nth-of-type(4)::after {
    @include pseudo-els(49%, -30px);
    content: '\f0b1';
}
.services-list__submenu--it li:nth-of-type(5)::after {
    @include pseudo-els(49%, -30px);
    content: '\f0c2';
}
.services-list__submenu--it li:nth-of-type(6)::after {
    @include pseudo-els(49%, -30px);
    content: '\e912';
}
.services-list__submenu--it li:nth-of-type(7)::after {
    @include pseudo-els(49%, -30px);
    content: '\e963';
}
.services-list__submenu--marketing li:nth-of-type(2)::after {
    @include pseudo-els(49%, -30px);
    content: '\f002';
}
.services-list__submenu--marketing li:nth-of-type(3)::after {
    @include pseudo-els(49%, -30px);
    content: '\f0e0';
}
.services-list__submenu--marketing li:nth-of-type(4)::after {
    @include pseudo-els(49%, -30px);
    content: '\f0d6';
}
.services-list__submenu--marketing li:nth-of-type(5)::after {
    @include pseudo-els(49%, -30px);
    content: '\f0c0';
}
.services-list__submenu--marketing li:nth-of-type(6)::after {
    @include pseudo-els(49%, -30px);
    content: '\e90f';
}
.services-list__submenu--marketing li:nth-of-type(7)::after {
    @include pseudo-els(49%, -30px);
    content: '\f040';
}
.services-list__submenu--telecoms li:nth-of-type(2)::after {
    @include pseudo-els(49%, -30px);
    content: '\e939';
}
.services-list__submenu--telecoms li:nth-of-type(3)::after {
    @include pseudo-els(49%, -30px);
    content: '\e910';
}
.services-list__submenu--telecoms li:nth-of-type(4)::after {
    @include pseudo-els(49%, -30px);
    content: '\f095';
}
.services-list__submenu--telecoms li:nth-of-type(5)::after {
    @include pseudo-els(49%, -30px);
    content: '\f2b5';
}
.services-list__submenu--telecoms li:nth-of-type(6)::after {
    @include pseudo-els(49%, -30px);
    content: '\f098';
}
.services-list__submenu--telecoms li:nth-of-type(7)::after {
    @include pseudo-els(49%, -30px);
    content: '\e907';
}
.services-list__submenu--design li:nth-of-type(2)::after {
    @include pseudo-els(49%, -30px);
    content: '\f040';
}
.services-list__submenu--design li:nth-of-type(3)::after {
    @include pseudo-els(49%, -30px);
    content: '\e902';
}
.services-list__submenu--design li:nth-of-type(4)::after {
    @include pseudo-els(49%, -30px);
    content: '\f0d6';
}
.services-list__submenu--design li:nth-of-type(5)::after {
    @include pseudo-els(49%, -30px);
    content: '\e958';
}
.services-list__submenu--design li:nth-of-type(6)::after {
    @include pseudo-els(49%, -30px);
    content: '\e956';
}
.services-list__submenu--design li:nth-of-type(7)::after {
    @include pseudo-els(49%, -30px);
    content: '\e90a';
}
.services-list__submenu--secutiry li:nth-of-type(2)::after {
    @include pseudo-els(49%, -30px);
    content: '\e909';
}
.services-list__submenu--secutiry li:nth-of-type(3)::after {
    @include pseudo-els(49%, -30px);
    content: '\e906';
}
.services-list__submenu--secutiry li:nth-of-type(4)::after {
    @include pseudo-els(49%, -30px);
    content: '\e939';
}
.services-list__submenu--secutiry li:nth-of-type(5)::after {
    @include pseudo-els(49%, -30px);
    content: '\e905';
}
.services-list__submenu--secutiry li:nth-of-type(6)::after {
    @include pseudo-els(49%, -30px);
    content: '\e904';
}
.services-list__submenu--secutiry li:nth-of-type(7)::after {
    @include pseudo-els(49%, -30px);
    content: '\f085';
}
.services-list__submenu--training li:nth-of-type(2)::after {
    @include pseudo-els(49%, -30px);
    content: '\e912';
}
.services-list__submenu--training li:nth-of-type(3)::after {
    @include pseudo-els(49%, -30px);
    content: '\f2b5';
}
.services-list__submenu--training li:nth-of-type(4)::after {
    @include pseudo-els(49%, -30px);
    content: '\ea80';
}
.services-list__submenu--training li:nth-of-type(5)::after {
    @include pseudo-els(49%, -30px);
    content: '\e90e';
}


}


