@media all and (min-width: 992px){
    .header {
        @include e(button) {
            display: initial;
            flex-grow: 0;
            max-width: 30%;
        }
        @include e(button-support) {
            display: initial;
            margin-left: auto;
            
        }
        @include e(button-contact) {
            display: initial;
            
        }
        }
    .search-form {
            margin-left: 0;
        @include e(field) {
            display: none;
        }
        @include e(submit) {
            border-radius: 3px;
        }
    }
    .upper-header {
        @include e(division) {
            max-width: 940px;
        }
    }
    .logo {
        max-width: 40%;
    }

//Styling the menu of the services
    .bottom-header.is-hidden {
        display: initial;
    }
    .services-nav {
        background-color: $serviceCol;
    }
    .services-list {
        max-width: 940px;
        margin: auto;
        display: flex;
        @include e(under-list) {
            display: none;
        }
        @include e(submenu) {
            position: relative;
            flex: 1;
            font-weight: 400;
            &::before {
            @include pseudo-els(30%, 40%) {
                font-size: rem(23px)
            }
            }
            @include icons($icons);
            @include font-color($themes);
            padding: 50px 0 20px;
            color: $white;
            @include m(design) {
                &::before {
                    left: 39%;
                }
            }
            // height: 100px;
        }
        @include e(heading) {
            text-align: center;
            display: block;
            text-transform: uppercase;
            &:first-of-type {
                font-size: rem(10px);
                padding-bottom: 1px;
            }
            &:last-of-type {
                font-size: rem(18px);
            }
        }
    }

}