
.upper-header {
    max-width: 100%;
    justify-items: center;
    align-items: center;
    row-gap: 15px;
    padding: 20px 15px;
    @include e(division) {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
.header {
   
    @include e(button-support) {
        display: none;
        @extend %btn-style-big;
            background-color: $blue;
            line-height: rem(46px);
            &::before {
                position: absolute;
                left: 18px;
                font-family: 'icomoon';
                content: "\e904";
                font-size: rem(23px);
            }
        }
    @include e(button-contact) {
        display: none;
        @extend %btn-style-big;
            background-color: $form-bgrnd;
            line-height: rem(46px);
            &::before {
                position: absolute;
                left: 18px;
                font-family: 'icomoon';
                content: "\e903";
                font-size: rem(23px);
            }
        }
        @include e(button) {
            margin-right: 20px;
            padding: 5px 20px 5px 45px;
        }
    @include e(phone) {
            position: relative;
            margin-left: auto;
            &::before {
                color: $serviceCol;
                font-size: rem(32px);
                @include pseudo-els(49%, -3rem, '\e907'); 
                                     
                }
        }
        
}
.logo {
    @extend %img-fluid;
    flex-shrink: 1;
    width: calc(100vw - 160px);
    max-width: 80%;
    // min-width: 200px;
    // max-width: 80%;
    img {
        @extend %img-fluid;
    }
}
.menu-btn {
    flex-shrink: 0;
    position: relative;
    background-color: $serviceCol;
    padding: 5px 15px;
    border-radius: 3px;
    width: 33px;
    height: 46px;
    box-sizing: content-box;
    @include e(burger) {
        position: absolute;
        top: 50%;
        background-color: $white;
        width: 33px;
        height: 4px;
        &:first-of-type {
            top: calc(50% - 10px);
        }
        &:last-of-type {
            top: calc(50% + 10px);
        }
    }
}
.search-form {
    order: 10;
    width: calc(100vw - 30px);
    @include e(submit) {
        display: none;
    }
    
        position: relative;
        &::after {
            // @include pseudo-els(49%, 90%, '\e901') {
            color: $serviceCol;
            font-weight: bold;
            font-size: 21px;
            position: absolute;	
            font-family: 'icomoon';
            content: '\e901';
            top: 63%;
            right: 3%;
            line-height: 0;
            }
        
        @include e(field) {    
            width: calc(100vw - 30px);   
            max-width: 100%;     
            background-color: rgba(0,0,0,.1);
            outline: 1px solid hsla(0,0%,100%,.2);
            border: 2px solid rgba(0,0,0,.1);
            padding: 7px 40px 7px 15px;
            line-height: rem(28px);
            margin-top: 20px;
            &::placeholder {
                font-size: rem(13px);
                color: #88889f;
            }
        }
}
