
.upper-header {
    max-width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: min-content;
    justify-items: center;
    align-items: center;
    row-gap: 15px;
    padding: 20px 15px;
}
.header {
    @include e(button-support) {
        display: none
        }
    @include e(button-contact) {
        display: none;
        }
    @include e(phone) {
            position: relative;
            &::before {
                color: $serviceClr;
                font-size: rem(32px);
                @include pseudo-els(rem(-16px), rem(-16px), '\e907') {
                    font-family: 'icomoon';
                }
                }
        }
        
}
.logo {
    @extend %img-fluid;
}
.menu-btn {
    position: relative;
    background-color: $serviceClr;
    padding: 5px 15px;
    border-radius: 3px;
    width: 33px;
    height: 46px;
    box-sizing: content-box;
    @include e(burger) {
        position: absolute;
        top: 50%;
        background-color: $white;
        width: 33px;
        height: 4px;
        &:first-of-type {
            top: calc(50% - 10px);
        }
        &:last-of-type {
            top: calc(50% + 10px);
        }
    }
}
.search-form {
    @include e(submit) {
        display: none;
    }
    
        position: relative;
        &::after {
            @include pseudo-els(25%, 90%, '\e901') {
            font-family: 'icomoon';
            font-weight: bold;
            }
        }
        @include e(field) {            
            background-color: rgba(0,0,0,.1);
            outline: 1px solid hsla(0,0%,100%,.2);
            border: 2px solid rgba(0,0,0,.1);
            padding: 5px 40px 5px 15px;
            max-width: 100%;
            line-height: rem(28px);
            &::placeholder {
                font-size: rem(13px);
                color: #88889f;
            }
        }
    
    grid-row: 2;
    grid-column: 1/-1;
    
}

