.services-sec {
    padding: 50px 15px 0 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    @include e(header) {
        @extend %sec-header;
    }
    @include e(item) {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding: 30px;
        border-radius: 15px;
        @extend %articles-box;
        margin-top: 30px;
        
        transition: .5s ease;
    }
    @include e(icon) {
        position: relative;
        margin: 0 auto;
        margin-bottom: 15px;
        border-radius: 50%;
        height: 65px;
        width: 65px;
        @include theming($themes);
        
        &::before {
        @include pseudo-els(50%, 1px) {
            height: 65px;
            width: 65px;
            color: $white;
            font-size: 32px;
        }        
        }
        @include icons($icons);
    }
    @include e(heading) {
        font-size: 1.3rem;
        margin-bottom: 20px;
        margin-top: 10px;
        color: $serviceCol;
    }
    @include e(text) {
        font-size: rem(13px);
        line-height: 22px;
        margin-bottom: 13px;
    }
    @include e(button) {
        @extend %btn-style-small;
        @include theming($themes);
        flex-grow: 0;
    }
}
p + a  {
    margin-top: auto;
}
.view-all {
    order: 10;
    margin: 30px auto;
}
.view-all a {
    position: relative;
    @extend %view-all;
    &::after {
        @include pseudo-els(50%, 105%, '\ea3c') {
            font-weight: 400;
        }
    }
}
