
.partners {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 15px;
    gap: 50px;
    text-align: center;
      @include e(logo) {
        @include m(active) {
          display: none;
        }
      }
}



